  <footer>
    <div class="footer-content">
      <h2>HANNA GORDYN</h2>
      <p>Elegant Interior Solution</p>
      <p>hanna gordyn banjarnegara, Banjarnegara, Jawa Tengah, Indonesia 53462</p>
      <p>©2026 Hanna Gordyn</p>
    </div>
  </footer>
</div>
</body>
</html>