<%- include("partials/header") %>

<h1 class="judul">KATALOG PRODUK</h1>

<div class="container">
  <div class="card">
    <img src="/images/premiumblindswithbox.png">
    <h2>Premium Blinds with Box</h2>
    <p>Brand: All brand import 90%, 80%, 70%.</p>
    <p>Perpaduan sempurna antara fungsionalitas modern dan estetika berkelas. Dilengkapi dengan penutup box atas untuk tampilan tirai yang lebih rapi, mewah, dan bebas celah cahaya. Pilihan terbaik untuk interior premium hunian Anda.</p>
  </div>

  <div class="card">
    <img src="/images/premiumregular.png">
    <h2>Premium Regular</h2>
    <p>Brand: All brand 90%, 80%, 70%.</p>
    <p>Solusi tirai modern dengan desain slim yang praktis dan minimalis. Memberikan kontrol cahaya maksimal tanpa memakan banyak ruang di area jendela. Pilihan tepat untuk estetika rumah dan kantor yang clean dan fungsional..</p>
  </div>

  <div class="card">
    <img src="/images/vitrase.png">
    <h2>Premium Vitrase</h2>
    <p>Brand: All brand</p>
    <p>Dapatkan pencahayaan alami yang optimal tanpa mengorbankan privasi Anda dengan Premium Vitrase. Didesain khusus untuk menyamarkan pandangan dari luar ruangan di siang hari, sekaligus mereduksi silau matahari secara efektif. Bahannya yang ringan dan airy memastikan sirkulasi udara dan kesan ruangan yang tetap luas.</p>
  </div>

  <div class="card">
    <img src="/images/rolerblind.png">
    <h2>Premium Roler Blind</h2>
    <p>Brand: Sharp Point</p>
  </div>

  <div class="card">
    <img src="/images/venetianblind.png">
    <h2>Premium Venetian Blind</h2>
    <p>Brand: Sharp Point</p>
  </div>

  <div class="card">
    <img src="/images/verticalblind.png">
    <h2>Premium Vertical Blind</h2>
    <p>Brand: Sharp Point</p>
  </div>
</div>

<%- include("partials/footer") %>