<%- include("partials/header") %>

<section class="kontak">
  <h1>Hubungi Kami</h1>
  <div class="contact-card">
    <h2>Instagram</h2>
    <a href="https://www.instagram.com/gorden_murah_banjarnegara" target="_blank">@gorden_murah_banjarnegara</a>
  </div>
  <div class="contact-card">
    <h2>WhatsApp</h2>
    <a href="https://wa.me/6283844395577 " target="_blank">Chat WhatsApp</a>
  </div>
</section>

<%- include("partials/footer") %>